.header2-wrapper {
	height: 60px;
	width: 100%;
	z-index: 9999;
	position: fixed;
	background: #fff;
	box-shadow: 0 2px 5px rgba(37, 37, 37, 0.2941176471);
  }
  .header2-wrapper .header2 {
	height: 100%;
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0;
  }
  .header2-wrapper .header2 .logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .header2-wrapper .header2 .logo img {
	height: 70%;
  }
  .header2-wrapper .header2 .navigation-wrapper-2 {
	height: 60px;
	border-radius: 10px;
	z-index: 9;
  }
  .header2-wrapper .header2 .navigation-wrapper-2 .navigation {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  }
  .header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 10px;
  }
  .header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link .icon {
	font-size: 25px;
  }
  .header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link span {
	font-size: 0.9rem;
	margin-top: 2px;
  }
  .header2-wrapper .header2 .navigation-wrapper-2 .navigation .active {
	color: var(--color-primary);
	border-bottom: 4px solid var(--color-primary);
  }
  .header2-wrapper .header2 .right-sec {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .header2-wrapper .header2 .right-sec .login {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17px 20px;
	border-radius: 5px;
	font-size: 0.7rem;
	font-weight: 600;
	color: #000;
	height: 90%;
	gap: 10px;
	background: #fff;
  }
  .header2-wrapper .header2 .right-sec .login .user-name {
	font-size: 15px;
	font-weight: 600;
	height: 40px;
	width: 100px;
	border-radius: 5px;
	background: var(--color-btn-primary-bg);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .header2-wrapper .header2 .right-sec .login img {
	height: 25px;
	border-radius: 100%;
	background: linear-gradient(45deg, #ace143, #219393);
  }
  .header2-wrapper .header2 .right-sec .login .down-arrow {
	font-size: 1.5rem;
  }
  .header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link span {
    font-size: 0.9rem;
    margin-top: 2px;
}
.header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link .icon {
    font-size: 25px;
}
.header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}
.header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link .icon {
    font-size: 25px;
	color: #000;
}
.header2-wrapper .header2 .navigation-wrapper-2 .navigation .nav-link span {
	font-size: 0.9rem;
    margin-top: 2px;
	color: #000;
}
.nav-link a {
    text-decoration: none;
    color: #000;
}