.header1-wrapper {
	height: 60px;
	width: 100%;
	z-index: 9999;
	position: absolute;
  }
  .header1-wrapper .header1 {
	height: 100%;
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0;
  }
  .header1-wrapper .header1 .logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .header1-wrapper .header1 .logo img {
	height: 70%;
  }
  .header1-wrapper .header1 .right-sec {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .header1-wrapper .header1 .right-sec .offer {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0 10px;
	border-right: 2px dotted #494949;
  }
  .header1-wrapper .header1 .right-sec .offer img {
	height: 30px;
	border-radius: 100%;
  }
  .header1-wrapper .header1 .right-sec .offer .text {
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	color: #fff;
  }
  .header1-wrapper .header1 .right-sec .offer .text span:first-child {
	font-size: 0.9rem;
	font-weight: 700;
  }
  .header1-wrapper .header1 .right-sec .offer .text span:last-child {
	font-size: 0.6rem;
  }
  .header1-wrapper .header1 .right-sec .myBiz {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0 10px;
	border-right: 2px dotted #494949;
  }
  .header1-wrapper .header1 .right-sec .myBiz img {
	height: 25px;
  }
  .header1-wrapper .header1 .right-sec .myBiz .text {
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	color: #fff;
  }
  .header1-wrapper .header1 .right-sec .myBiz .text span:first-child {
	font-size: 0.9rem;
	font-weight: 700;
  }
  .header1-wrapper .header1 .right-sec .myBiz .text span:last-child {
	font-size: 0.6rem;
  }
  .header1-wrapper .header1 .right-sec .myTrip {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0 10px;
  }
  .header1-wrapper .header1 .right-sec .myTrip img {
	height: 30px;
	border-radius: 100%;
  }
  .header1-wrapper .header1 .right-sec .myTrip .text {
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	color: #fff;
  }
  .header1-wrapper .header1 .right-sec .myTrip .text span:first-child {
	font-size: 0.9rem;
	font-weight: 700;
  }
  .header1-wrapper .header1 .right-sec .myTrip .text span:last-child {
	font-size: 0.6rem;
  }
  .header1-wrapper .header1 .right-sec .login {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-btn-primary-bg);
	padding: 17px 20px;
	border-radius: 5px;
	font-size: 0.7rem;
	font-weight: 500;
	color: var(--color-btn-primary-text);
	height: 90%;
	gap: 10px;
  }
  .header1-wrapper .header1 .right-sec .login .user-name {
	font-size: 15px;
	font-weight: 600;
  }
  .header1-wrapper .header1 .right-sec .login img {
	height: 25px;
	border-radius: 100%;
	background: #fff;
  }
  .header1-wrapper .header1 .right-sec .login .down-arrow {
	font-size: 1.5rem;
  }