.promo-wrapper {
	width: 100%;
	height: 200px;
  }
  .promo-wrapper .promo {
	height: 100%;
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	align-items: center;
  }
  .promo-wrapper .promo > div {
	background: #fff;
	height: 100px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2274509804);
	display: grid;
	grid-template-columns: 30% 70%;
	align-items: center;
	gap: 10px;
  }
  .promo-wrapper .promo > div img {
	justify-self: center;
	height: 70%;
  }
  .promo-wrapper .promo > div > div {
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
  }
  .promo-wrapper .promo > div > div > div:last-child {
	color: var(--color-btn);
	cursor: pointer;
  }
  .promo-wrapper .promo > div > div > div:last-child:hover {
	text-decoration: underline;
  }