.input-box-wrapper-flights {
	width: 100%;
	padding-top: 7rem;
  }
  .input-box-wrapper-flights .input-box {
	position: relative;
	width: 100%;
	height: 100%;
  }
  .input-box-wrapper-flights .input-box .input-wrapper {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input {
	border-radius: 10px;
	margin: 0 30px;
	padding: 40px 0;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .top-sec {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	margin: 10px 0;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .top-sec > div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 4px 8px;
	border-radius: 10px;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .top-sec > div input {
	cursor: pointer;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .top-sec > div label {
	font-size: 0.9rem;
	cursor: pointer;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .top-sec .checked {
	background: #e3f2ff;
	font-weight: 600;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	height: 120px;
	border: 1px solid #e7e7e7;
	border-radius: 10px;
	margin-top: 1rem;
	position: relative;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec .arrows {
	position: absolute;
	top: 50%;
	left: 22%;
	transform: translate(-50%, -50%);
	font-size: 2.2rem;
	padding: 8px;
	background: #fff;
	color: var(--color-btn);
	border-radius: 100%;
	box-shadow: 0 0 20px rgba(63, 63, 63, 0.3411764706);
	z-index: 99;
	cursor: pointer;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec .from:hover,
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec .to:hover {
	background: #e3f2ff;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	border-right: 1px solid #e7e7e7;
	padding-left: 1rem;
	position: relative;
	height: 100%;
	background-color: inherit;
	cursor: pointer;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div:last-child {
	border: none;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div label {
	margin: 5px 0;
	position: absolute;
	top: 0;
	left: 1rem;
	font-weight: 500;
	color: #2b2b2b;
	margin-left: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div label .icon {
	font-size: 20px;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div .disabled-text {
	position: absolute;
	left: 10%;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: rgba(66, 66, 66, 0.6784313725);
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div .date-input {
	color: rgba(255, 255, 255, 0) !important;
	background: transparent;
	z-index: inherit;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div .date {
	position: absolute;
	top: 65%;
	left: 8%;
	transform: translate(0%, -50%);
	height: 60%;
	width: 180px;
	z-index: 999;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background: #fff;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div .date > div {
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 10px;
	font-size: 1rem;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div .date > div span {
	font-size: 2.2rem;
	font-weight: 700;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div .date > div p {
	font-size: 1.2rem;
	margin: 0;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div input {
	height: 100%;
	width: 90%;
	margin: auto;
	outline: none;
	border: none;
	font-size: xx-large;
	font-weight: 700;
	text-transform: capitalize;
	background: transparent;
	margin-left: 1rem;
	cursor: pointer;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .bottom-sec > div > span {
	margin: 5px 0;
	position: absolute;
	bottom: 10px;
	left: 1rem;
	font-weight: 500;
	color: #2b2b2b;
	margin-left: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0 0 0;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec > span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	font-weight: 700;
	width: 60px;
	height: 100%;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 5px;
	padding: 4px 8px;
	background: rgba(100, 100, 100, 0.1019607843);
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec > div input {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec > div label {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	cursor: pointer;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec > div:nth-child(2) {
	border-radius: 5px 0 0 5px;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec > div:last-child {
	border-radius: 0 5px 5px 0;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec .checked {
	background: #e3f2ff;
	font-weight: 600;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .sec .fares-label {
	width: 70px;
	height: 100%;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .tranding {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 100%;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .tranding > span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	font-weight: 700;
	height: 100%;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .tranding > div {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 10px;
	background: rgba(100, 100, 100, 0.1019607843);
	border-radius: 5px;
	color: #3b3b3b;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .tranding > div .icon {
	color: var(--color-btn);
	margin: 0 4px;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .input .btm .tranding > div span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .submit-btn {
	position: absolute;
	bottom: -25px;
	font-size: 1.7rem;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	border: none;
	padding: 8px 50px;
	border-radius: 100px;
	background: var(--color-btn-primary-bg);
	color: var(--color-btn-primary-text);
	cursor: pointer;
	transition: transform 0.3s ease;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .submit-btn:hover {
	transform: scale(1.05);
  }
  .input-box-wrapper-flights .input-box .input-wrapper .submit-btn:active {
	transform: scale(0.95);
  }
  .input-box-wrapper-flights .input-box .input-wrapper .explore {
	position: absolute;
	bottom: -70px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .explore span {
	color: #fff;
	margin: 0 8px;
	font-weight: 600;
  }
  .input-box-wrapper-flights .input-box .input-wrapper .explore img {
	transform: scale(0.6);
  }